# Running the final version for the Analytics Engineer Case Study

In [1]:
from load_date_create_table import CreateRevenueTable
import pandas as pd

## Run the ETL process for each set of data (based on download date)

In [2]:
d_2020_10 = CreateRevenueTable(period_start_date = '20190101', download_date = '20201001')
d_2020_10.run_load_data()
d_2020_10.run_create_revenue_table()
display(d_2020_10.df_output)

d_2020_12 = CreateRevenueTable(period_start_date = '20201002', download_date = '20201201')
d_2020_12.run_load_data()
d_2020_12.run_create_revenue_table()
display(d_2020_12.df_output)

d_2021_01 = CreateRevenueTable(period_start_date = '20201202', download_date = '20210101')
d_2021_01.run_load_data()
d_2021_01.run_create_revenue_table()
display(d_2021_01.df_output)

,customer_id,download_date,product,creation_date,period_total_revenue,consumption,annual_average_revenue
0,1,2020-10-01,ÖkoStrom A,2018-03-12,1110.547452,3670.684932,636.24
1,2,2020-10-01,ÖkoStrom A,2018-01-26,1423.280603,4719.452055,815.34
2,3,2020-10-01,ÖkoStrom C,2019-04-09,931.930904,3138.356164,850.49
3,6,2020-10-01,ÖkoStrom B,2020-02-02,179.762959,604.931507,713.19
4,7,2020-10-01,ÖkoStrom B,2019-07-20,910.435288,3030.136986,831.79
...,...,...,...,...,...,...,...
19965,29995,2020-10-01,ÖkoStrom B,2019-12-22,435.795534,1464.657534,654.59
19966,29996,2020-10-01,ÖkoGas A,2020-03-21,160.267890,3175.342466,479.49
19967,29997,2020-10-01,ÖkoStrom A,2019-12-23,205.951452,680.547945,817.09
19968,29999,2020-10-01,ÖkoStrom A,2019-08-01,695.426164,2300.000000,695.94
19969,30000,2020-10-01,ÖkoStrom A,2019-11-06,501.008712,1657.534247,755.64

,customer_id,download_date,product,creation_date,period_total_revenue,consumption,annual_average_revenue
0,1,2020-12-01,ÖkoStrom A,2018-03-12,1217.120301,4021.643836,636.24
1,2,2020-12-01,ÖkoStrom A,2018-01-26,1559.835370,5170.684932,815.34
2,3,2020-12-01,ÖkoStrom C,2019-04-09,1076.138247,3623.013699,850.49
3,5,2020-12-01,ÖkoStrom B,2020-04-01,53.801918,180.821918,654.59
4,6,2020-12-01,ÖkoStrom B,2020-02-02,298.953616,1006.027397,713.19
...,...,...,...,...,...,...,...
21959,33663,2020-12-01,ÖkoStrom B,2020-11-15,0.000000,0.000000,654.59
21960,33673,2020-12-01,ÖkoStrom B,2020-11-05,0.000000,0.000000,713.19
21961,33675,2020-12-01,ÖkoStrom C,2020-11-07,0.000000,0.000000,591.49
21962,33684,2020-12-01,ÖkoStrom C,2020-11-19,0.000000,0.000000,736.99
21963,33697,2020-12-01,ÖkoStrom C,2020-11-09,0.000000,0.000000,707.89

,customer_id,download_date,product,creation_date,period_total_revenue,consumption,annual_average_revenue
0,1,2021-01-01,ÖkoStrom 1,2018-03-12,1271.280274,4200.000000,636.24
1,2,2021-01-01,ÖkoStrom 1,2018-01-26,1629.232055,5400.000000,815.34
2,3,2021-01-01,ÖkoStrom 3,2019-04-09,1149.423945,3869.315068,850.49
3,5,2021-01-01,ÖkoStrom 2,2020-04-01,109.397233,367.671233,654.59
4,6,2021-01-01,ÖkoStrom 2,2020-02-02,359.525918,1209.863014,713.19
...,...,...,...,...,...,...,...
23154,36075,2021-01-01,ÖkoStrom 2,2020-12-09,0.000000,0.000000,830.39
23155,36084,2021-01-01,ÖkoStrom 1,2020-12-01,0.000000,0.000000,667.59
23156,36085,2021-01-01,ÖkoGas 1,2020-12-16,0.000000,0.000000,436.59
23157,36093,2021-01-01,ÖkoStrom 2,2020-12-02,0.000000,0.000000,830.39
23158,36097,2021-01-01,ÖkoStrom 2,2020-12-29,0.000000,0.000000,888.99

## Combine the three resulting tables for upload to the data warehouse
- the download_date is included to allow a user to easily separate the results and get a history

In [3]:
df_for_DWH = pd.concat([d_2020_10.df_output, d_2020_12.df_output, d_2021_01.df_output]).sort_values('customer_id')
df_for_DWH

,customer_id,download_date,product,creation_date,period_total_revenue,consumption,annual_average_revenue
0,1,2020-10-01,ÖkoStrom A,2018-03-12,1110.547452,3670.684932,636.24
0,1,2020-12-01,ÖkoStrom A,2018-03-12,1217.120301,4021.643836,636.24
0,1,2021-01-01,ÖkoStrom 1,2018-03-12,1271.280274,4200.000000,636.24
1,2,2021-01-01,ÖkoStrom 1,2018-01-26,1629.232055,5400.000000,815.34
1,2,2020-10-01,ÖkoStrom A,2018-01-26,1423.280603,4719.452055,815.34
...,...,...,...,...,...,...,...
23154,36075,2021-01-01,ÖkoStrom 2,2020-12-09,0.000000,0.000000,830.39
23155,36084,2021-01-01,ÖkoStrom 1,2020-12-01,0.000000,0.000000,667.59
23156,36085,2021-01-01,ÖkoGas 1,2020-12-16,0.000000,0.000000,436.59
23157,36093,2021-01-01,ÖkoStrom 2,2020-12-02,0.000000,0.000000,830.39
23158,36097,2021-01-01,ÖkoStrom 2,2020-12-29,0.000000,0.000000,888.99

## Calculate the average revenue per contract for three different time periods
- this info will be used when presenting to the stakeholder

In [4]:
# average revenue per contract
calc_vals = {'download_date': [pd.to_datetime('20201001').normalize(), pd.to_datetime('20201201').normalize(), pd.to_datetime('20210101').normalize()],
            'number_of_contracts': [d_2020_10.number_contracts, d_2020_12.number_contracts, d_2021_01.number_contracts], 
            'total_revenue': [d_2020_10.total_revenue, d_2020_12.total_revenue, d_2021_01.total_revenue], 
            'average_revenue_per_contract': [d_2020_10.av_revenue_per_contract, d_2020_12.av_revenue_per_contract, d_2021_01.av_revenue_per_contract],
            'total_average_annual_revenue': [d_2020_10.total_annual_revenue, d_2020_12.total_annual_revenue, d_2021_01.total_annual_revenue], 
            'average_annual_revenue_per_contract': [d_2020_10.annual_av_revenue_per_contract, d_2020_12.annual_av_revenue_per_contract, d_2021_01.annual_av_revenue_per_contract]}

df_calc_vals = pd.DataFrame.from_dict(calc_vals, orient='index')
df_calc_vals.columns = ['2019-01 to 2020-10', '2020-10 to 2020-12', '2020-12 to 2021-01']
df_calc_vals

,2019-01 to 2020-10,2020-10 to 2020-12,2020-12 to 2021-01
download_date,2020-10-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00
number_of_contracts,19970,21964,23159
total_revenue,14844412.342767,17306648.662055,18649312.320658
average_revenue_per_contract,743.335621,787.95523,805.27278
total_average_annual_revenue,14314678.9,15745403.16,16629159.835
average_annual_revenue_per_contract,716.809159,716.873209,718.043086